
/* Estilos Generales */
* {
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Slabo 27px", serif;
    overflow: hidden;
}

/* Estilos base */
/* Header */
.header {
    background-color: #1D293F; 
    color: #fff;
    padding: 20px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__logo h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.header__nav {
    display: flex;
}

.header__nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header__nav-link:hover {
    background-color: #1D293F; 
    color: #e1e0e0; 
}

/* Menu Icon */
.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

/* Mobile Navigation */
.mobile-nav {
    display: none;
    background-color: #1f2838;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 99;
}

.mobile-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-nav-link {
    display: block;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    border-bottom: 1px solid #1D293F;
}

.mobile-nav-link:hover {
    background-color: #1D293F;
    color: #e1e0e0;
}

/* Estilos del menú hamburguesa */
/*.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}*/

/* Mapa */
#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Contenedor de los controles */
#controls {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

#controls {
    top: 90px;
    left: 5px;
    z-index: 5;
    padding: 0;
}

#controls input {
    padding: 8px;
    background-color: #fff;
    width: 120%;
    border: 1px solid #ccc;
    border-radius: 35px;
}

#controls button {
    width: 60%;
    padding: 8px;
    background-color: transparent;/*#4285F4;*/
    color: #4e4a4a;
    border: 2px solid #077be7 ;
    border-radius: 35px;
    cursor: pointer;
    margin-top: 3px;
    font-weight: bold;
}

#controls button:hover {
    background-color: #077be7 ;
}

/* Estilos generales del footer */
.footer {
    background-color: #1D293F;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* estilos contacto */
.footer__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
}

.footer__list .zero {
    margin-right: auto; 
    font-size: 1.5rem;
}

.footer__list li {
    margin-right: 25px;
    display: inline-block;
}

.footer__section-link {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

.footer__list li i {
    margin-right: 5px;
}

/* Media Query para Pantallas Pequeñas */
@media (max-width: 600px) {
    .footer__list {
        flex-direction: column;
        align-items: center;
    }
    
    .footer__list .zero {
        margin-right: 0; 
        margin-bottom: 10px; 
    }

    .footer__list li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer__section-link {
        font-size: 16px;
    }
}

@media (min-width: 769px) {
    .header__menu-button {
        display: none;
    }
}


/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .header__nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #1D293F;
        width: 100%;
        text-align: right;
    }

    .header__nav-list li {
        margin: 10px 0;
    }

    .header__nav-list.show {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 600px) {
    #controls {
        padding: 5px;
        width: 40%;
    }

    #controls input {
        font-size: 14px;
    }

}

/* Mostrar el menú al hacer clic */
.menu-toggle:checked ~ .header__nav-list {
    display: flex;
}

    .header__nav-link {
        display: flex;
        align-items: center;
        padding: 3px;
        border-bottom: 1px solid #fff;
        width: 70%;
        /*text-align: flex-start;*/
        
    }

    .header__menu-button span {
        display: block;
        width: 25px;
        height: 3px;
        background: #ccc;
        margin: 5px 0;
    }

    .footer {
        padding: 10px;
        font-size: 0.9em;
    }

    #map {
        height: 100vh;
    }

  





