@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');


body {
    font-family: "Slabo 27px", serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
    color: #1D293F;
}

/* Header */
.header {
    background-color: #1D293F; 
    color: #fff;
    padding: 20px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__logo h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.header__nav {
    display: flex;
}

.header__nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header__nav-link:hover {
    background-color: #1D293F; 
    color: #e1e0e0; 
}

/* Menu Icon */
.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

/* Mobile Navigation */
.mobile-nav {
    display: none;
    background-color: #1f2838;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 99;
}

.mobile-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-nav-link {
    display: block;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    border-bottom: 1px solid #1D293F;
}

.mobile-nav-link:hover {
    background-color: #1D293F;
    color: #e1e0e0;
}

/** Galeria **/
.container-grid{
    margin-top: 110px;
    display: grid;
    height: 100%;
    padding: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    'img1 img2 img3 img3 img3'
    'img1 img2 img3 img3 img3'
    'img4 img4 img3 img3 img3'
    'img4 img4 img3 img3 img3'
    'img6 img6 img5 img5 img5'
    'img6 img6 img5 img5 img5';
    gap: 5px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img:hover {
    filter: grayscale(60%);
    cursor: pointer;
    transition: filter .5s;
}

.img-1 {
    grid-area: img1;
}

.img-2 {
    grid-area: img2;
}

.img-3 {
    grid-area: img3;
}

.img-4 {
    grid-area: img4;
}

.img-5 {
    grid-area: img5;
}

.img-6 {
    grid-area: img6;
}

.container-img {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translate(-120%);
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease-in;
}

.move {
    transform: translateX(0);
}

.img-show {
    height: 80%;
    display: block;
    transform: scale(0.9);
    object-fit: cover;
    transition: transform .2s .3s;
}

.show {
    transform: scale(0.9);
}

.copy {
    position: fixed;
    color: #ccc;
    bottom: 40px;
    font-size: 25px;
}

.bx.bx-x {
    position: absolute;
    color: #fff;
    top: 20px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}

/* Footer */
.footer {
    background-color: #1D293F;
    padding: 20px 10px;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__logo h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer__sections {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.footer__section {
    margin-bottom: 20px;
    text-align: left;
}

.footer__section-title {
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__section-link {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer__section-link:hover {
    text-decoration: underline;
}

.social__container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social__icon {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 5px;
}

.footer__copy {
    margin-top: 20px;
    font-size: 0.8rem;
}

/* Responsividad */

@media (max-width: 1024px) {
    .container-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        'img1 img2 img3'
        'img1 img2 img3'
        'img4 img4 img3'
        'img4 img4 img3'
        'img6 img6 img5'
        'img6 img6 img5';
    }
}

@media (max-width: 768px) {
    .container-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        'img1 img2'
        'img4 img4'
        'img3 img3'
        'img3 img3'
        'img6 img5'
        'img6 img5';
    }
}

@media (max-width: 480px) {
    .container-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        'img1'
        'img2'
        'img3'
        'img4'
        'img5'
        'img6';
    }
    
    .img-show {
        width: 90%;
    }

    .copy {
        bottom: 20px;
    }

    .bx.bx-x {
        top: 10px;
        font-size: 25px;
    }
}

/* Responsividad */
@media (max-width: 768px) {
    .header__nav {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .mobile-nav {
        display: none;
    }

    .mobile-nav.active {
        display: block;
    }

    .footer {
        padding: 10px;
    }

    .footer__section-title {
        font-size: 1rem;
    }

    .footer__copy {
        font-size: 0.8rem;
    }
}

/* Responsividad */
@media (max-width: 768px) {
    .footer__sections {
        flex-direction: column;
        align-items: center;
    }

    .footer__section {
        width: 100%;
        text-align: center;
    }

    .social__container {
        margin-top: 15px;
    }
}