@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Slabo+27px&display=swap");

/** Customs properties **/
:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
    --black: #000000;
    --white: #ffffff;
    --sky-blue: #0784f9;
    --light-purple: #e5e5f7;
    --grey: #696871;
    --dark: #1D293F;
    --light: #204fa1;
  
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input {
    font-family: "Slabo 27px", serif;
    /*font-family: "Grenze Gotisch", serif;*/
    /*font-family: "Nunito", sans-serif;*/
}

a{
    text-decoration: none;
}

.container1{
    max-width: 1400px;
    padding: 0 20px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

/** Hero  **/
.hero {
    width: 100%;
    height: 100vh;
    min-height: 700px;
    max-height:800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    margin-bottom: 35px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   /* background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../assets/images/imagen1.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);*/
   /* z-index: -1;*/
}


/** Nav-bar **/
.nav {
    padding: 30px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
}

/** Scroll JS **/
nav.abajo{
   /*background: var(--light);*/
    padding: 15px 20px;
    z-index: 10;
}

.nav.abajo .nav__title,
.nav.abajo ul li a{
    color: var(--sky-blue);
}

.nav.abajo .nav__title{
    font-weight: bold;
    font-size: 3.2rem;
}

.nav.abajo ul li a{
    font-weight: bold;
    font-size: 20px;
}

.nav__title {
    position: relative;
    font-size: 2.8rem;
    font-weight: bolder;
   /* color: #001A49;*/
    color: rgb(17, 16, 16);
    transition: 1.5s;
}

.nav__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__items {
    list-style: none;
}

.nav__links {
    /*color: #001A49;*/
    color: rgb(17, 16, 16);
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: none;
    margin-right: 45px;
    transition: 0.7s;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
    margin-right: 40px;
}

.nav__close {
    display: var(--show, none);
}

/** Hero container **/
.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color:  #204fa1;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 12px 22px;
    border-radius: 6px;
}

/** About **/
.about {
    text-align: center;
   
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph {
    line-height: 1.7;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon {
    width: 40px;
}
  

/** Knowledge **/
.knowledge {
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture{
    max-width: 500px;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    display: block;
    border-radius: 8px;
}

/** Price tarjetas de precios **/
.price{
    text-align: center;
}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price__element{
    background-color:#a2c2c2;
    text-align: center;
    border-radius: 4px;
    width: 280px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #b6dddd;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__element--best{
    width: 300px;
    padding: 60px 40px;
    background-color:  #204fa1;
    --color-plan: rgb(255 255 255 / 75%);
    --color-price: #fff;
    --bg-cta:  #4767a0;
    --color-cta: #FFF;
    --color-items: #fff;
}

.price__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.price__price{
    font-size: 2.5rem;
    color: var(--color-price);
}

.price__items{
    margin-top: 35px;
    display: grid;
    gap: 1.2em;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.price__cta{
    display: block;
    padding: 20px 0;
    border-radius: 4px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.price__cta:hover{
    background-color: #a2c2c2;
}

/** Slider Swiper **/

.slider-heading {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: #333; 
    margin-bottom: 2rem;
    padding: 0.5rem;
   /* background-color: #f8f9fa; */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

#contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('image/bg.jpg') #e5e5f7 center;
    z-index: -3;
}

.slider-wraper{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.card-list .card-item{
    color: #fff;
    /*width: 300px;**/
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: var(--dark);
    /*background: rgba(255, 255,  255, 0.2 );*/
    border:  1px solid rgba(255, 255,  255, 0.4 );
}

.card-list .card-item .user-image{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;
}

.card-list .card-item .user-profession{
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
}

.card-list .card-item .message-button{
    font-size: 1.2rem;
    padding: 10px 35px;
    color: #030728;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
}

.card-list .card-item .message-button:hover{
    background: rgba(255, 255,  255, 0.1 );
    border: 1px solid #fff ;
    color: #fff;
}

.slider-wraper .swiper-pagination-bullet{
    background: #ffff;
    height: 15px;
    width: 15px;
}

.slider-wraper .swiper-slide-button{
    color: #ffff;
    margin: -50px;
    transition: 0.2s ease-in-out;
} 

.slider-wraper .swiper-slide-button:hover{
    color: #4658ff;
}

/* Questions */
.questions{
    text-align: center;
}

.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454D4;
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 30px;
}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions__img{
    display: block;
}

.questions__copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/** Estilos generales para el popup de cookies **/
/* Cookie Banner */
.cookie-banner {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #204fa1;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    animation: bounceIn 1s ease;
}

.cookie-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cookie-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cookie-button:hover {
    background-color: #45a049;
}

@keyframes bounceIn {
    0% {
        transform: translateX(-50%) scale(0.9);
    }
    50% {
        transform: translateX(-50%) scale(1.1);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}

.hidden {
    display: none;
}


/* Media queries */
@media (max-width:800px){
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: var(--black);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
        background-color: #fff;
    }

    .hero__title{
        font-size: 2.5rem;
        color: #e5e5f7;
    }

    .about__main{
        gap: 2em;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }

    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }

    .testimony__img{
        width: 200px;
        height: 200px;
        
    }

    .questions__copy{
        width: 100%;
    }

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }

}

@media (max-width:600px){
    .hero__title{
        font-size: 2rem;
    }

    .hero__paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }

    .price__element{
        width: 90%;
    }

    .price__element--best{
        width: 90%;
        /* padding: 40px; */
    }

    .price__price{
        font-size: 2rem;
    }

    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: 100%;
    }

    .testimony__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    /** Footer **/
    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
    }
}


    /** Swiper **/
@media(max-widht: 768px){
    .slider-wraper {
        margin: 0 10px 40px;
    }

    .slider-wraper .swiper-slide-button{
        display: none;
    }
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .slider-heading {
        font-size: 2rem;
        padding: 1rem;
    }
}



