<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZERO</title>
    <link rel="stylesheet" href="../assets/imgSvg/apple-icon-76x76.png">
    <script src="https://kit.fontawesome.com/088e8f0b2d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../css/contacto.css">
</head>
<body>

    <!--- Header -->
    <header class="header">
        <div class="container header__container">
            <div class="header__logo">
                <h2 class="privacidad">ZERO</h2>
            </div>
 
            <nav class="header__nav">
                <input type="checkbox" id="menu-toggle" class="menu-toggle">
                <label for="menu-toggle" class="menu-icon">&#9776;</label>
                <ul class="header__nav-list">
                    <li><a href="../index.html" class="header__nav-link">Inicio</a></li>
                    <li><a href="./galeria.html" class="header__nav-link">Galeria</a></li>
                    <li><a href="./contacto.html" class="header__nav-link">Contacto</a></li>
                    <li><a href="./presupuesto.html" class="header__nav-link">Presupuesto</a></li>
                </ul>
            </nav>
            
        </div>
    </header>

    <!-- Botón para mostrar/ocultar el footer en dispositivos móviles -->
    <button id="toggle-footer" class="footer__toggle">Mostrar/Ocultar Footer</button>

    <!--- Input para calcular la rura -->
    <div id="controls">
        <input id="start" type="text" placeholder="Introduce tu ubicación">
        <button onclick="calculateRoute()">Calcular Ruta</button>
    </div>

    <div id="map"></div>


    <!-- Footer -->
    <footer class="footer" id="footer-popup">
        <div class="footer__section">
            <div class="footer__section-container container1">
                <!-- Contenido del footer como lo tienes -->
                <!-- Ubicacion, Contacto Directo, Descubre y Ahora, Síguenos -->
            </div>
        </div>
        <div class="footer__copy">
            <section class="footer__section">  
                <h3 class="zero">Zero</h3>  
                <ul class="footer__list">  
                    <li><a href="https://goo.gl/maps/BoMW1fSVEovrzJyB8" class="footer__section-link"><i class="fa-solid fa-location-dot"></i> Direccion</a></li>
                    <li><a href="mailto:jcorderog78@icloud.com" class="footer__section-link"><i class="fa-solid fa-envelope"></i> Email</a></li>
                    <li><a href="tel:+020-1000-000000" class="footer__section-link"><i class="fa-solid fa-phone"></i> Teléfono</a></li>
                </ul>
            </section>
           &copy;<span id="current-year"></span> Todos los derechos reservados.
        </div>
    </footer>

<script src="../js/contacto.js"></script> 

    <!-- Script de Google Maps -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8ikBILDN7ElTP9UbJdgQPIaqyENa5OVI&callback=initMap" ></script>
<script src="../js/footer.js"></script>                 
</body>
</html>






