<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero</title>
    <link rel="stylesheet" href="../css/galeria.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/088e8f0b2d.js" crossorigin="anonymous"></script>

</head>
<body>

<!-- Header -->
<header class="header">
    <div class="container header__container">
        <div class="header__logo">
            <h2 class="privacidad">ZERO</h2>
        </div>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li><a href="../index.html" class="header__nav-link">Inicio</a></li>
                <li><a href="./galeria.html" class="header__nav-link">Galeria</a></li>
                <li><a href="./contacto.html" class="header__nav-link">Contacto</a></li>
                <li><a href="./presupuesto.html" class="header__nav-link">Presupuesto</a></li>
            </ul>
        </nav>
        <div class="menu-icon" id="menu-icon">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    <nav class="mobile-nav" id="mobile-nav">
        <ul class="mobile-nav-list">
            <li><a href="../index.html" class="mobile-nav-link">Inicio</a></li>
            <li><a href="./galeria.html" class="mobile-nav-link">Galeria</a></li>
            <li><a href="./contacto.html" class="mobile-nav-link">Contacto</a></li>
            <li><a href="./presupuesto.html" class="mobile-nav-link">Presupuesto</a></li>
        </ul>
    </nav>
</header>

    <div class="main-section">
    <div class="container-grid">
        <img src="../assets/images/imagen1.jpg" width="612" height="408" alt="escribe en Laptop" class="img img-1">
        <img src="../assets/images/imagen2.jpg" width="612" height="408" alt="tecnologia" class="img img-2">
        <img src="../assets/images/imagen3.jpg" width="700" height="467" alt=" Taller Robotica" class="img img-3">
        <img src="../assets/images/imagen4.jpg" width="700" height="467" alt="Codigo" class="img img-4">
        <img src="../assets/images/imagen5.jpg" width="612" height="372" alt="AI" class="img img-5">
        <img src="../assets/images/imagen6.jpg" width="612" height="394" alt="Keyboard" class="img img-6">
        <div class="container-img">
        <img src="#" alt="imagen-show" class="img-show">
        <i class='bx bx-x'></i>
            <p class="copy"></p>
        </div>
    </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <section class="footer__section"> 
            <div class="footer__section-container container1">
                <h2 class="footer__title-t">ZERO</h2>
                <article class="footer_section">
                    <h3 class="footer__section-title">Ubicacion</h3>
    
                    <ul class="footer__section-table">
                        <li class="footer__section-links">
                            <li><a href="https://goo.gl/maps/BoMW1fSVEovrzJyB8" class="footer__section-link"><i class="fa-solid fa-location-dot"></i>Hoogoorddreef 55, 1101 BE Amsterdam, Países Bajos </a></li>
                    </ul>  
    
                    <h3 class="footer__section-title">Contacto Directo</h3>
                    <ul class="footer__section-table">
                        <li class="footer__section-links">
                            <li><a class="footer__section-link" href="mailto:go-4-fit@gmail.com" ><i class="fa-solid fa-envelope"></i>jcorderog78@icloud.com  </a></li>
                            <li><a href="tel:+34-914-000000" class="footer__section-link"><i class="fa-solid fa-phone"></i> 020-100 000</a></li>
                        </li>    
                    </ul>  
    
                    <h3 class="footer__section-title">Descubre y Ahora</h3>
                    <ul class="footer__section-table">
                        <li class="footer__section-links">
                            <a href="../views/politicaAviso.html" class="footer__section-link">Politica de privacidad</a>
                        </li>
                    </ul>
    
                    <ul class="footer__section-table">
                        <li class="footer__section-links">
                            <a href="../views/politicaAviso.html" class="footer__section-link">Cookies</a>
                        </li>
                    </ul>
    
                    <ul class="footer__section-table">
                        <li class="footer__section-links">
                            <a href="../views/politicaAviso.html" class="footer__section-link">Aviso Legal</a>
                        </li>
                    </ul>
                </article>
    
                <!---Redes-->
                <article class="footer__section">
                    <h3 class="footer__section-title">Siguenos</h3>
                    <div class="social__container"> 
                        <a href="https://www.facebook.com/profile.php?id=100010402808950" class="social__icon"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/ftness_life/" class="social__icon"><i class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com/juliojump23" class="social__icon"><i class="fab fa-x-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/julio-cordero-guzman-3b873217b/" class="social__icon"><i class="fab fa-linkedin"></i></a>
                    </div>
                </article>
            </div>
        </section>
        <div class="footer__copy">
            <a href="footer__copy-text" id="copyright"></a>
            copyright 
            <span id="current-year"></span>
            Todos los derechos reservados
            <a href="#" target="_blank"></a>
        </div>
    </footer>

    <!--- Scripts -->
    <script src="../js/galeria.js"></script>
    <script src="../js/footer.js"></script>
</body>
</html>